<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Where is the ISS?</title>
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </link>
</head>

<body>
    <div class="container">
        <h1>Where is the International Space Station?</h1>
        <div id="map"></div>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ api_key }}"
        async defer></script>
</body>

</html>